.navbar-custom {
  background-color: white;
  border-bottom: 2px solid lightgreen;
  padding: 10px 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5em;
  color: green;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px; /* Odstęp między elementami */
}

.nav-link {
  color: green; /* Zielony kolor tekstu */
  text-decoration: none; /* Usunięcie podkreślenia */
  font-size: 1em; /* Rozmiar czcionki */
}

.nav-link:hover {
  color: #061f03;
  cursor: pointer;
}
