<div class="home">
    <h1 class="typewriter">Witaj na platformie korepetycji!</h1>
    <p class="typewriter-delayed">Znajdź idealnego nauczyciela i rozwijaj swoje umiejętności.</p>
    <button [routerLink]="['/lessons/']" class="cta hover-zoom">Rozpocznij naukę!</button>


    <div class="features">
        <div class="feature hover-zoom">
            <h3>Zweryfikowani nauczyciele</h3>
            <p>Ucz się od najlepszych specjalistów.</p>
        </div>
        <div class="feature hover-zoom">
            <h3>Szybkie rezerwacje</h3>
            <p>Rezerwuj zajęcia w kilka kliknięć.</p>
        </div>
        <div class="feature hover-zoom">
            <h3>Przystępne ceny</h3>
            <p>Znajdź korepetycje w swoim budżecie.</p>
        </div>
    </div>
</div>
<div class="about-section">
    <h2>O nas</h2>
    <div class="about-container">
        <div class="about-card hover-zoom">
            <h3>Nasza Misja</h3>
            <p>Chcemy, aby nauka była dostępna dla każdego. Łączymy uczniów z najlepszymi korepetytorami.</p>
        </div>
        <div class="about-card hover-zoom">
            <h3>Nasza Wizja</h3>
            <p>Tworzymy przyszłość edukacji, zapewniając elastyczne i efektywne metody nauki online.</p>
        </div>
    </div>
</div>


