<button (click)="toggleForm()" [disabled]="!(isTokenPresent$ | async)">
    Dodaj lekcje
</button>


<div *ngIf="showForm" @slideIn class="form-container">
  <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
    <div style="display: flex; align-items: center; gap: 10px;">
      <label for="title">Tytuł</label>
      <input id="title" formControlName="title" type="text" required style="flex: 1; min-width: 200px;" />

      <label for="subject">Przedmiot</label>
      <select id="subject" formControlName="subject" required style="width: 150px;">
        <option value="matematyka">Matematyka</option>
        <option value="polski">Polski</option>
        <option value="angielski">Angielski</option>
      </select>
    </div>

    <label for="content">Treść</label>
    <textarea id="content" formControlName="content" required></textarea>

    <label for="image">Obrazek</label>
    <input id="image" formControlName="image" type="text" required />

    <button (click)="toggleForm()" style="margin: 10px 0;">
      Ukryj formularz
    </button>
    <button type="submit" [disabled]="lessonForm.invalid">Dodaj lekcje</button>

  </form>


</div>
